<h3>Please fill in your information below.</h3>

<%= form_for :login do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.submit "Login" %>
<% end %>
