Thoughtbox
<%= link_to "Logout", logout_path, method: :delete %>

<h3>Submit a Link</h1>

<%= form_for :link do |f| %>
  <%= f.label :url %>
  <%= f.text_field :url %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Submit Link" %>
<% end %>

<h3>My Links</h1>

<div class="links">

  <% @links.each do |link| %>
<div class="row"  data-id="<%=link.id%>"
                  boolean-status="<%=link.read?%>"
                  id="link-<%=link.id%>">
   <ul class="col" contenteditable="false"> <h3><%= link.title %></h3>
      <li>Url: <%= link.url %></li>
      <li class="read-status">Read? <%= link.read %></li>
    </ul>
    <button class="read">Mark as Read</button>
    <button class="unread">Mark as Unread</button>
    <button class="edit">Edit</button>
  </div>
</div>
<% end %>
